*~
rapidjson
simProcess/simProcess
simProcess/simProcess.exe
simProcess/doxygen
simProcess/doxyindexer
simProcess/doxysearch.cgi
simProcess/html/**
simProcess/latex/**
.vscode
.idea/
*.iml
MetaServer/target
PhaserAnimationTest/Thumbs.db
simProcessNode/node_modules
simProcessNode/dist
simProcessNode/.tscache
node_modules